body {
    /**/
    background-color: black;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

h1 {
    color: rgb(255, 255, 235);
    font-family: Impact, 'Anton';
    text-align: center;
    font-size: 500%;
    overflow: hidden;  /* Ensure overflow is hidden */
    position: relative;
    

}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-family: Impact, 'Anton';
    color: rgb(255, 255, 235);
    text-align: center;
    font-size: 170%;
    overflow:visible;


}

h3 {
    color: rgb(255, 255, 235);
    font-family: Impact, 'Anton';
    text-align: center;
    font-size: 300%;
    margin-left: 30px;
    margin-right: 30px;
}

p {
    font-family: Impact, 'Anton';
    color: rgb(255, 255, 235);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: rgb(255, 255, 235);
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
    border: 0px;
    border-radius: 20px;
}

.break {
    margin-top: 300px;
}

.top {
    background-color: rgb(1, 17, 62);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dark {
    background-color: rgb(1, 17, 62);
    padding-bottom: 0;
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30%;
    overflow: hidden;
}
.lightOrange{
    background-color: rgb(255, 123, 0);
    padding-bottom: 50px;
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;  
}
.darkOrange {
    background-color: rgb(255, 60, 0);
    padding-bottom: 50px;
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}
.light {
    background-color: rgb(23, 47, 126);
    padding-bottom: 50px;
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

footer {
    background-color: rgb(2, 6, 22);
    left: 0;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content:flex-start;

}
.footer-column {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    width: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
footer img{
    width: 30vw;
    max-width: 250px;
    margin-top: 0;
    margin-bottom:50px;
    
}



.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.cards img {
    width: 70%;
    max-width: 600px;
    border-radius: 5px;
    margin-bottom: 90px;
    transition: 0.5s;
    opacity: 90%;
    background-color:black;
}
.cards img:hover {
    width: 75%;
    max-width: 650px;
    opacity: 120%;
    box-shadow: 0 0 20px black;
}

@media (min-width: 700px) {
    h1 {
        font-size: 700%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 450%;
    }

    .break {
        margin-top: 350px;
    }
    .dark {
        padding-bottom: 10%;
    }
    .mail {
        font-size: 30px;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 1000%;
    }

    h2 {
        font-size: 300%;

    }

    h3 {
        font-size: 600%;
    }

    p {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }

    img {
        width: 500px;
    }

    .break {
        margin-top: 550px;
    }
    .dark {
        padding-bottom: 20%;
    }
    
}

@media (max-width: 500px) {
    h1 {
        font-size: 90px;
    }

    p {
        text-align: justify;
        margin: 0 auto;
    }

    img {
        width: 230px;
        border-radius: 15px;
    }

    .break {
        margin-top: 425px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 80px;
    }

    .break {
        margin-top: 350px;
    }
}

@keyframes reveal {
    0% {

        opacity: 50%;
        background-color: black;
    }
    100% {
        opacity: 100%;
    }
}

