body 
{
    background-color: rgb(23, 47, 126);
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;

}
h1
{
    color: rgb(255, 255, 235);
    font-family: Impact, 'Anton';
    text-align: center;
    font-size: 500%;
}
h2
{
    font-family: Impact, 'Anton';
    color: rgb(255, 255, 235);
    text-align: center;
    font-size: 170%;
    margin-top: -40px;
}
h3{
    color: rgb(255, 255, 235);
    font-family: Impact, 'Anton';
    text-align: center;
    font-size: 300%;
    margin-left: 30px;
    margin-right: 30px;
}
p
{
    font-family: Impact, 'Anton';
    color: rgb(255, 255, 235);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
a
{
    color: rgb(255, 255, 235);;
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
    border: 0px;
    border-radius: 20px;
}
.break {
    margin-top: 300px;
}
.top {
    background-color: rgb(1, 17, 62);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.dark {
    background-color: rgb(1, 17, 62);
    padding-bottom: 50px;
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
footer{
    background-color: rgb(2, 6, 22);
    left: 0;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    bottom: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    
}
.cards img {
    width: 70%;
    max-width: 1000px;
    border-radius: 5px;
    margin-bottom: 30px;
}

@media (min-width: 700px) {

    h1 {
        font-size: 700%;
    }
    h2 {
        margin-top: -70px;
    }
    h3 {
        font-size: 450%;
    }
    .break {
        margin-top: 350px;
    }
}
@media (min-width: 1000px) {

    h1 {
        font-size: 1000%;
    }
    h2 {
        font-size: 300%;
        margin-top: -110px;
    }
    h3 {
        font-size: 600%;
    }
    p {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }
    img {
        width: 500px;
    }
    .break {
        margin-top: 550px;
    }

 }
 

    


 @media (max-width: 500px) {
    h1 {
        font-size: 90px;
    }
    p {
        
        text-align: justify;
        margin: 0 auto;
    }
    img {
        width: 230px;
        border-radius: 15px;
    }
    .break{
        margin-top: 425px;
    }
 }
 @media (max-width: 350px) {
    h1 {
        font-size: 80px;
    }
    .break{
        margin-top: 350px;
    }
}
