body 
{
    background-color: rgb(23, 47, 126);
}
h1
{
    color: rgb(255, 255, 235);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 500%;
}
h2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 235);
    text-align: center;
    font-size: 170%;
    margin-top: -40px;
}
p
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 235);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; 
}


img {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
    border: 0px;
    border-radius: 20px;
}
.break {
    margin-top: 200px;
}

@media (min-width: 700px) {

    h1 {
        font-size: 700%;
    }
    h2 {
        margin-top: -70px;
    }
    

 }

@media (min-width: 1000px) {

    h1 {
        font-size: 1000%;
    }
    h2 {
        font-size: 200%;
        margin-top: -110px;
    }
    p {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }
    img {
        width: 600px;
    }

 }
 @media (max-width: 500px) {
    h1 {
        font-size: 70px;
    }
    p {
        
        text-align: justify;
        margin: 63 auto;
    }
    img {
        width: 230px;
        border-radius: 15px;
    }
    .break{
        margin-top: 100px;
    }
 }
